<div class="nonprint" style="height: 100%; display: flex; flex-direction: column;">
  <div style="height: 50px;display: flex;
  justify-content: end;
    align-items: center;">
    <input type="number" style="height: 30px;" id="add-row-input"/> <button (click)="addRows($event)">Add Rows</button>
    <span style="width: 10px;"></span>
    <button (click)="print()">Print</button>

  </div>
  <div class="container" style="flex: 1;">
    <ag-grid-angular style="width: auto; height: 100%;" class="ag-theme-alpine" [rowData]="rowData"
      [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [rowSelection]="'single'" [tabToNextCell]="onTab"
      (gridReady)="onGridReady($event)" [rowHeight]="100">
    </ag-grid-angular>
  </div>
</div>
<div *ngIf="showPrintPage" class="frame">
  <div class="toolbar">
    <span class="inline input-container">
      <label>Font Size</label> <br>
      <input type="number" [(ngModel)]="fontSize" />
    </span>
    <span class="inline input-container">
      <label>Line Margin</label>
      <br>
      <input type="number" [(ngModel)]="marginBottom" />
    </span>
    <span class="inline input-container">
      <button (click)="closePrintPopup()">Close</button>
    </span>
    <!-- <button>+</button>
    <button>-</button> -->
  </div>
  <div class="document">
    <div *ngFor="let items of printPages" class="page">
      <div *ngFor="let item of items" class="item">
        <div>
          <img src="{{item.image}}">
        </div>
        <div class="details" [ngStyle]="{'fontSize':fontSize+'px'}">
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">DES : {{item.description}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">CODE : {{item.code}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">QTY : {{item.qty}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">CASE NO : {{item.caseNo}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">FINISH : {{item.finish}}</div>
        </div>
      </div>
    </div>
  </div>
</div>