<div class="nonprint" style="height: 100%; display: flex; flex-direction: column;">
  <div style="height: 50px;display: flex;
  justify-content: end;
    align-items: center;">
    Case No From : &nbsp;<input type="number" style="height: 30px; width: 50px; text-align: center;"
      [(ngModel)]="startIndex">
    <span style="width: 20px;"></span>
    <input type="number" style="height: 30px;" id="add-row-input" />
    <button (click)="addRows($event)">Add Rows</button>
    <!-- <button (click)="deleteRows($event)">Delete Rows</button> -->
    <span style="width: 20px;"></span>
    <button (click)="print()">Print Preview</button>

  </div>
  <div class="container" style="flex: 1;">
    <ag-grid-angular style="width: auto; height: 100%;" class="ag-theme-alpine" [rowData]="rowData"
      [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [rowSelection]="'multiple'" [tabToNextCell]="onTab"
      (rowClicked)="onRowClicked($event)" (gridReady)="onGridReady($event)" [rowHeight]="100" [suppressRowClickSelection]="true">
    </ag-grid-angular>
  </div>
</div>

<div *ngIf="showPrintPage" class="frame">
  <div class="toolbar">
    <span class="inline input-container input-ribbon">
      <label class="title">Page Layout</label>
      <span class="inline input-container">
        <label>Print Orientation</label>
        <br>
        <select [(ngModel)]="pageOrientation" style="width: 100px;" (change)="changePageOrientation()">
          <option value="portrait">Portrait</option>
          <option value="landscape">Landscape</option>
        </select>
      </span>
      <span class="inline input-container">
        <label>Print Layout</label>
        <br>
        <select [(ngModel)]="printLayout" (change)="print()">
          <option value="two-block-print">Two Per Page</option>
          <option value="three-block-print">Three Per Page</option>
          <option value="four-block-print">Four Per page</option>
        </select>
      </span>
    </span>
    <span></span>
    <span class="inline input-container input-ribbon">
      <label class="title">Format</label>

      <span class="inline input-container">
        <label>Font Size</label> <br>
        <input type="number" [(ngModel)]="fontSize" style="width: 60px;" />
      </span>
      <span class="inline input-container">
        <label>Line Margin</label>
        <br>
        <input type="number" [(ngModel)]="marginBottom" style="width: 75px;" />
      </span>
    </span>
    <span class="inline input-container input-ribbon">
      <label class="title">Page Margin (in MM)</label>

      <span class="inline input-container">
        <label>Top</label>
        <br>
        <input type="number" [(ngModel)]="pageMargin.top" style="width: 40px;" />
      </span>
      <span class="inline input-container">
        <label>Bottom</label>
        <br>
        <input type="number" [(ngModel)]="pageMargin.bottom" style="width: 40px;" />
      </span>
      <span class="inline input-container">
        <label>Left</label>
        <br>
        <input type="number" [(ngModel)]="pageMargin.left" style="width: 40px;" />
      </span>
      <span class="inline input-container">
        <label>Right</label>
        <br>
        <input type="number" [(ngModel)]="pageMargin.right" style="width: 40px;" />
      </span>
    </span>
    <div style="float: right;">
      <span class="inline input-container">
        <button (click)="printPage()" style="height: 55px;">Print</button>
      </span>
      <span class="inline input-container">
        <button (click)="closePrintPopup()" style="height: 55px; padding: 10px 10px;">Close</button>
      </span>
    </div>
    <!-- <button>+</button>
    <button>-</button> -->
  </div>
  <div class="document">
    <div *ngFor="let items of printPages" class="page" [ngClass]="[printLayout, pageOrientation]"
      [ngStyle]="{paddingLeft:pageMargin.left + 'mm', paddingRight:pageMargin.right+ 'mm', paddingTop:pageMargin.top+ 'mm', paddingBottom:pageMargin.bottom+ 'mm'}">
      <div *ngFor="let item of items" class="item">
        <div>
          <div class="center-img-wrapper">
            <img src="{{item.image}}">
          </div>
        </div>
        <div class="details" [ngStyle]="{'fontSize':fontSize+'px'}">
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">DES : {{item.description}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">CODE : {{item.code}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">QTY : {{item.qty}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">CASE NO : {{item.caseNo}}</div>
          <div [ngStyle]="{'marginBottom':marginBottom+'px'}">FINISH : {{item.finish}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
<diV *ngIf="showContextMenu" [ngStyle]="{position:'absolute', left:contextMenuX+'px', top:contextMenuY+'px'}"
  class="context-menu" tabindex="0" (keydown)="onContextMenuKeyPress($event)" (blur)="hideContextMenu()">
  <div *ngFor="let item of contextMenu;let i=index" class="menu-item" [ngClass]="{'item-active': i==activIndex}"
    (click)="contextMenuItemClick($event, item)" (mouseover)="activIndex=i">{{item.label}}
  </div>
</diV>