@media print {

    .nonprint {
        display: none !important;
    }

    .frame {
        left: 0 !important;
        top: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        height: auto !important;
        box-shadow: none !important;
        transform: none !important;
    }

    .toolbar {
        display: none;
    }

    .page {
        box-shadow: none !important;
        border: none !important;
        margin-top: 0px !important;
        page-break-after: always;
    }
}


@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

button {
    background-color: #0089ff;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border: 0px;
    box-shadow: 0px 0px 5px #999;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.frame {
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    box-shadow: 0px 0px 10px #555555;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
}

.frame .toolbar {
    background-color: white;
    box-shadow: 0px 0px 5px #999;
    padding: 10px;
    margin-bottom: 10px;
}

.frame .toolbar label {
    font-size: 14px;
    color: #0c5dc1;
    font-weight: bold;
}

.frame .toolbar input, .frame .toolbar select {
    height: 30px;
    padding: 1px 2px;
    border: 1px solid #999;
    box-sizing: content-box;
    vertical-align: top;
    margin: 1px;
}

.inline {
    display: inline-block;
}



.document {
    flex: 1;
    overflow: auto;
    padding: 20px;
}

.page {
    width: 297mm;
    height: 200mm;
    background-color: white;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px #999;
}

.page.landscape {
    width: 297mm;
    height: 200mm;
}


.page.portrait {
    width: 200mm;
    height: 297mm;
}

.item {
    padding: 5px;
    display: inline-block;
    border: solid 1px;
    margin: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.page.two-block-print .item {
    width: calc(100% - 20px);
    height: calc(49% - 20px);
}

.page.three-block-print .item {
    width: calc(100% - 20px);
    height: calc(32.33% - 20px);
}

.page.four-block-print .item {
    width: calc(50% - 20px);
    height: calc(49% - 20px);
}

.item>div {
    width: 50%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.item .details div {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.item img {
    max-height: 100%;
    max-width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.context-menu {
    position: absolute;
    left: 512px;
    top: 360px;
    background-color: #eee;
    border-radius: 3px;
    box-sizing: content-box;
    box-shadow: 0px 0px 10px #999;
    width: 150px;
    animation: append-animate .1s linear;
}

.context-menu:focus-visible {
    outline: none;
}

.context-menu .menu-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.context-menu .menu-item.item-active {
    background-color: #86ccee;
}

