/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: calibri;
}

.row-index-cell {
    background-color: #e7e5e5;
    font-weight: 600;
    border-bottom: 1px solid black!important;
    padding: 10px 10px!important;
}